.draggable {
    margin-left: 0px;
    /* margin-top: 5px; */
    display:inline;
    float:left;
	vertical-align: top;
    background-color: #efefff;
    /* font-family: monospace; */
    /* font-size: 120%; */
    padding-bottom: 10px;
    border: 2px solid #efefff;
    box-sizing: border-box;
}

.draggable.dragzone {
    min-width: 50%;
    max-width: 50%;
}

.draggable.dropzone {
    margin-left: 1%;
    min-width: 49%;
    max-width: 49%;
}

.draggable.horizontal {
    float: none;
    min-width: initial;
    max-width: initial;    
}

.draggable.dragzone.horizontal {
    margin-right: 4px;
}

.drag-button {
    display: inline-block;
}
.drag-reset {
    background-color: #474949;
    color: white;
}
.drag-reset:hover {
    background-color: black;
    color: white;
}
.drop-incorrect {
    border: 2px solid red !important;
    background-color: #f2dede !important;
}
.drag-reset:enabled {
    background-color: #474949;
    color: white;
}
.draggable-drag {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    display: block;
    background-color:#EFEFEF;
    border:2px solid lightgray;
    padding:10px;
    margin-top: 5px;
    cursor: move;
}

.draggable-feedback {
    text-align: left !important;
    clear: both;
}

.draggable-drop {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    display: block;
    background-color:#DDDDDD;
    border:2px solid lightgray;
    padding:10px;
    margin-top: 5px;
}

.draggable-container {
    text-align:left;
}

.draggable-container div.question {
    margin-bottom: 4px;
    font-weight: bold;
}

.possibleDrop {
    border-color: #000000;
    background-color: #CCCCCC;
    cursor: move;
}

.dragzone.possibleDrop {
    background-color: #d1d1f7;
}

div.horizontal {
    width: 100%;
}

div.horizontal > div > span {
    width: 100%;
}

.draggable-drag, .draggable-drop {
    margin-left: 4px;
    margin-right: 4px;
}

div.horizontal .draggable-drop {
    margin-top: 0px;
}